body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background: #00abf0;
  min-height: 100vh;

  background: url("/img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

div {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #081b29;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #2cd9df;

  border: 0.2rem solid blue;
  border-radius: 0.6rem;

  z-index: 1;
  overflow: hidden;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #112e42;
  z-index: -1;
  transition: 0.5s;
}

.content:hover::before {
  width: 100%;
}

div h2 {
  color: #ededed;
  font-size: 30px;
  font-weight: 600;
}

.text {
  color: #ededed;
  text-align: left;
  margin-left: 150px;
}

#w,
#h {
  color: blue;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #00abf0;
  width: 200ox;
}

#w:focus,
#h:focus {
  border-bottom: 2px solid #00abf0;
  width: 300px;
  transition: 0.5s;
}

#result {
  color: brown;
}

#btn {
  font-family: inherit;
  margin-top: 10px;
  border: none;
  background-image: blue;
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

#btn:hover {
  box-shadow: 1px 1px 10px #00abf0;
}
